asgiref==3.11.1
amqp==5.3.1
attrs==26.1.0
billiard==4.2.4
certifi==2026.6.17
charset-normalizer==3.4.8
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.45.0
celery[redis]==5.6.3
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.8
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-redis==7.0.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
firebase-admin==7.5.0
gunicorn==26.0.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.2
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
prompt_toolkit==3.0.53
PyJWT==2.13.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
redis==6.4.0
referencing==0.37.0
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
whitenoise==6.12.0
